In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from datetime import date

In [2]:
#Reading in the original csv file
csv_path= "../Resources/crime_data.csv"
csv_df = pd.read_csv(csv_path)
csv_df.head()

,PK,CCR,AGE,GENDER,RACE,ARRESTTIME,ARRESTLOCATION,OFFENSES,INCIDENTLOCATION,INCIDENTNEIGHBORHOOD,INCIDENTZONE,INCIDENTTRACT,COUNCIL_DISTRICT,PUBLIC_WORKS_DIVISION,X,Y
0,1975272,16158872,42.0,F,B,2016-08-24T12:20:00,"4700 Block Centre AV Pittsburgh, PA 15213",3929 Retail Theft.,"4700 Block Centre AV Pittsburgh, PA 15213",Bloomfield,5,804.0,8.0,2.0,-79.949277,40.452551
1,1974456,16144120,31.0,M,W,2016-08-03T14:55:00,"4200 Block Steubenville PKE Pittsburgh, PA 15205",13(a)(16) Possession of Controlled Substance,"4200 Block Steubenville PKE Pittsburgh, PA 15205",Outside City,OSC,5599.0,NaN,NaN,-80.088018,40.440136
2,1974466,16144165,63.0,F,B,2016-08-03T16:45:00,"900 Block Freeport RD Fox Chapel, PA 15238",3929 Retail Theft.,"900 Block Freeport RD Fox Chapel, PA 15238",Westwood,5,2811.0,9.0,2.0,-79.891803,40.486625
3,1974550,16145257,25.0,F,W,2016-08-05T02:36:00,"Foreland ST & Cedar AV Pittsburgh, PA 15212",5503 Disorderly Conduct. / 5505 Public Drunken...,"Foreland ST & Cedar AV Pittsburgh, PA 15212",East Allegheny,1,2304.0,1.0,1.0,-80.001939,40.454080
4,1974596,16145962,25.0,M,B,2016-08-06T02:00:00,"900 Block Woodlow ST Pittsburgh, PA 15205",2702 Aggravated Assault. / 2705 Recklessy Enda...,"900 Block Woodlow ST Pittsburgh, PA 15205",Crafton Heights,5,2814.0,2.0,5.0,-80.052204,40.445900

In [3]:
#dropping rows with empty values
df = csv_df.dropna(how = 'any')
df.head()

,PK,CCR,AGE,GENDER,RACE,ARRESTTIME,ARRESTLOCATION,OFFENSES,INCIDENTLOCATION,INCIDENTNEIGHBORHOOD,INCIDENTZONE,INCIDENTTRACT,COUNCIL_DISTRICT,PUBLIC_WORKS_DIVISION,X,Y
0,1975272,16158872,42.0,F,B,2016-08-24T12:20:00,"4700 Block Centre AV Pittsburgh, PA 15213",3929 Retail Theft.,"4700 Block Centre AV Pittsburgh, PA 15213",Bloomfield,5,804.0,8.0,2.0,-79.949277,40.452551
2,1974466,16144165,63.0,F,B,2016-08-03T16:45:00,"900 Block Freeport RD Fox Chapel, PA 15238",3929 Retail Theft.,"900 Block Freeport RD Fox Chapel, PA 15238",Westwood,5,2811.0,9.0,2.0,-79.891803,40.486625
3,1974550,16145257,25.0,F,W,2016-08-05T02:36:00,"Foreland ST & Cedar AV Pittsburgh, PA 15212",5503 Disorderly Conduct. / 5505 Public Drunken...,"Foreland ST & Cedar AV Pittsburgh, PA 15212",East Allegheny,1,2304.0,1.0,1.0,-80.001939,40.454080
4,1974596,16145962,25.0,M,B,2016-08-06T02:00:00,"900 Block Woodlow ST Pittsburgh, PA 15205",2702 Aggravated Assault. / 2705 Recklessy Enda...,"900 Block Woodlow ST Pittsburgh, PA 15205",Crafton Heights,5,2814.0,2.0,5.0,-80.052204,40.445900
5,1974556,16144301,45.0,M,W,2016-08-15T13:30:00,"600 Block 1st AV Pittsburgh, PA 15219",3929 Retail Theft.,"800 Block Hazelwood AV Pittsburgh, PA 15217",Greenfield,4,1517.0,5.0,3.0,-79.929238,40.419699

In [4]:
#Start of breaking up offenses
test_df = df[['OFFENSES']]
test_df = test_df.reset_index()
test_df.reset_index()
test_df = test_df[['OFFENSES']]

test_df.head()

                                            OFFENSES
0                                 3929 Retail Theft.
1                                 3929 Retail Theft.
2  5503 Disorderly Conduct. / 5505 Public Drunken...
3  2702 Aggravated Assault. / 2705 Recklessy Enda...
4                                 3929 Retail Theft.

In [5]:
#Breaking up offenses (including descriptions)
t1 = []

i = 0
while i < len(test_df["OFFENSES"]):
    t1.append(len(test_df["OFFENSES"][i].split(' / ')))
    i += 1
    
off_count = np.max(t1)  

i = 1
offs = []
while i <= off_count:
    add_col = f'Offense {i}'
    test_df[add_col] = ''
    i+=1

j = 0
while j < len(test_df['OFFENSES']):
    offs = test_df["OFFENSES"][j].split(' / ')
    k = 0
    while k < len(offs):
        off_col = f'Offense {k+1}'
        test_df[off_col][j] = offs[k]
        k += 1
    j += 1

    

test_df.head()

,OFFENSES,Offense 1,Offense 2,Offense 3,Offense 4,Offense 5,Offense 6,Offense 7,Offense 8,Offense 9,Offense 10,Offense 11,Offense 12,Offense 13,Offense 14,Offense 15,Offense 16,Offense 17
0,3929 Retail Theft.,3929 Retail Theft.,,,,,,,,,,,,,,,,
1,3929 Retail Theft.,3929 Retail Theft.,,,,,,,,,,,,,,,,
2,5503 Disorderly Conduct. / 5505 Public Drunken...,5503 Disorderly Conduct.,5505 Public Drunkenness,,,,,,,,,,,,,,,
3,2702 Aggravated Assault. / 2705 Recklessy Enda...,2702 Aggravated Assault.,2705 Recklessy Endangering Another Person.,3925 Receiving Stolen Property.,4304(a)(1) Endangering Welfare of Children.,,,,,,,,,,,,,
4,3929 Retail Theft.,3929 Retail Theft.,,,,,,,,,,,,,,,,

In [6]:
#Breaking up offenses (just codes)

code_df = test_df

codes = []

j = 0
while j < len(code_df['OFFENSES']):

    k = 0
    while k < len(code_df["OFFENSES"][j].split(' / ')):
        off_col = f'Offense {k+1}'
        code_df[off_col][j] = code_df[off_col][j].split(' ')[0]
        k += 1
    j += 1

code_df.head()

,OFFENSES,Offense 1,Offense 2,Offense 3,Offense 4,Offense 5,Offense 6,Offense 7,Offense 8,Offense 9,Offense 10,Offense 11,Offense 12,Offense 13,Offense 14,Offense 15,Offense 16,Offense 17
0,3929 Retail Theft.,3929,,,,,,,,,,,,,,,,
1,3929 Retail Theft.,3929,,,,,,,,,,,,,,,,
2,5503 Disorderly Conduct. / 5505 Public Drunken...,5503,5505,,,,,,,,,,,,,,,
3,2702 Aggravated Assault. / 2705 Recklessy Enda...,2702,2705,3925,4304(a)(1),,,,,,,,,,,,,
4,3929 Retail Theft.,3929,,,,,,,,,,,,,,,,

In [7]:
#breaking up times
time_df = df[['ARRESTTIME']]
time_df = time_df.reset_index()
time_df = time_df[['ARRESTTIME']]

time_df['year'] = ''
time_df['month'] = ''
time_df['day'] = ''
time_df['time'] = ''
time_df['hour'] = ''
time_df['minute'] = ''

i = 0
while i < len(time_df['ARRESTTIME']):
    date = time_df['ARRESTTIME'][i].split('-')
    time_df['year'][i] = date[0]
    time_df['month'][i] = date[1]
    
    days = date[2].split('T')
    time_df['day'][i] = days[0]
    time_df['time'][i] = days[1]
    
    tim = days[1].split(':')
    time_df['hour'][i] = tim[0]
    time_df['minute'][i] = tim[1]
    i += 1


time_df.head()

            ARRESTTIME  year month day      time hour minute
0  2016-08-24T12:20:00  2016    08  24  12:20:00   12     20
1  2016-08-03T16:45:00  2016    08  03  16:45:00   16     45
2  2016-08-05T02:36:00  2016    08  05  02:36:00   02     36
3  2016-08-06T02:00:00  2016    08  06  02:00:00   02     00
4  2016-08-15T13:30:00  2016    08  15  13:30:00   13     30

In [8]:
df['INCIDENTNEIGHBORHOOD'].nunique()

98